.navbar{
    background-color: lightslategray;
    
}

.navbar>img{
    text-align: center;
}

.carousel-caption>h1{
    text-align: start;
    font-weight: 2500;
    font-size: xx-large;
    font-style: italic;
}

.carousel-caption>p{
    text-align: start;
    font-weight: 1000;
}

.img-rights{
    text-align: center;
    position: relative; bottom: 50px;
}

.head-1{
    position: relative; top: 50px;
}

.para-1{
    position: relative; top: 50px;
}


.footer-rw {
    background-color: black;
    margin-top: 50px;
    border-bottom: 1px solid gray
}

.footer-rw {
    margin-top: 20px;
    padding: 40px 0!important
}

.flogo img {
    width: 80px
}

.f-content-1 {
    margin-top: 20px
}

.foot-left {
    margin-left: 10px
}

.fhdn p {
    color: #fff;
    font-size: 1.4rem;
    font-family: interbold
}

.fpara p {
    color: #8b8b8b;
    font-size: .9rem;
    line-height: 22px
}

.fdes p {
    color: #fff;
    cursor: pointer
}

.fdes p:hover {
    border: 2px solid blue;
    transition: ease .3s;
    color: gray
}

.fjoin p {
    color: #fff;
    cursor: pointer
}

.fjoin p:hover {
    color: gray;
    border: 3px solid blue;
    transition: ease .3s
}

.fjoin i {
    color: red;
    margin-left: 10px
}


.f-list1 {
    color: #fff;
    font-size: 1rem;
    margin-left: -20px
}

.f-list1 ul {
    list-style: none
}

.f-list1 li:hover {
    border: 2px solid blue;
    transition: ease .3s;
    transform: scale(1.1)
}

.f-list1 li {
    line-height: 35px;
    cursor: pointer
}

.icons i {
    color: red;
    font-size: 18px!important;
    text-align: left!important;
    letter-spacing: 10px!important
}


.f-end {
    background-color: black
}

.f-heading-last {
    margin-top: 30px;
    color: rgb(190,190,190);
    font-size: 13px
}




@media only screen and (max-width: 400) {
    .collapse{
        text-align: center
    }
    

    
    
    
}


